@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Bungee');
/* TODO:
logo contrast SHADOW
logo clickable
mobile navigation image
menu clickable
*/
* {
  margin: 0;
  padding: 0;
}
 body {
  font-family: 'Roboto', Times, sans-serif;
  text-align: center;
  color: #FFFFFF;
  line-height: 1.5;
}
header {
  /* OUTLINE / SHADOW */
  background-color: #000000;
  font-family: 'Bungee', cursive, Times, sans-serif;
  background: url('../img/resized/companylogoBG.png') center #FFFFFF no-repeat;
  background-size: cover;
}
nav {
  background-color: #707070;
}
footer {
  background-color: #000000;
  align-self: flex-end;
}
nav, footer {
  border-style: solid;
  border-color: #FFFFFF;
}
.menu {
  overflow: hidden;
}
.menu {
  list-style:none;
  text-align:center;
}
.menu a {
  display: inline-block;
}
.menu li {
  display: inline;
}
h1, h2, h3 {
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #FFFFFF;
}
img {
  object-fit: cover;
}
.box {
  background-color: #2699FB;
}
@media screen and (min-width: 961px) {
  .background-video {
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -100;
  }
  body {
    margin: 0 auto;
    width: 960px;
  }
  header {
    font-size: 40px;
    padding: 10px 0;
  }
  nav {
    font-size: 24px;
  }
  footer {
    font-size: 24px;
    padding: 10px 0;
  }
  .menu a {
    padding: 10px 5px;
  }
  .box {
    font-size: 50px;
    padding: 10px 0;
    line-height: normal;
  }
  img {
    display: block;
    width: 960px;
    height: 400px;
  }
}
@media screen and (min-width: 361px) and (max-width: 960px) {
  .background-video {
    display: none;
  }
  body {
    width: 100%;
  }
  header {
    font-size: calc(0.5em + 3.5vw);
    padding: 2vw 0;
  }
  nav {
    font-size: calc(0.75em + 1vw);
  }
  footer {
    font-size: calc(0.75em + 1vw);
    padding: 1vw 0;
  }
  .menu a {
    padding: 1vw 1vw;
  }
  .box {
    font-size: calc(1em + 4vw);;
    padding: 1vw 0;
    line-height: normal;
  }
  img {
    display: block;
    width: 100%;
    height: 40vw;
  }
  #product3 {
    float: left;
  }
  #product8 {
    float: right;
  }
  #product3, #product8 {
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 4px;
    margin: -4px;
    width: 50%;
  }
  .container-index > #mobile-games, .container-index > #board-games, .container-index > #product6 {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  .background-video {
    display: none;
  }
  body {
    width: 100%;
  }
  header {
    font-size: 5.5vw;
    padding: 2vw 0;
  }
  nav {
    font-size: calc(0.4em + 2.5vw);
  }
  footer {
    font-size: calc(0.4em + 2.5vw);
    padding: 1.5vw 0;
  }
  .menu a {
    padding: 1vw 1vw;
  }
  .box {
    font-size: 8vw;
    padding: 1vw 0;
    line-height: normal;
  }
  img {
    display: block;
    width: 100%;
    height: 40vw;
  }
  .container-index > img {
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 3px;
    margin: -3px;
    width: 100%;
  }
  .container-index > #mobile-games, .container-index > #board-games, .container-index > #console-games {
    display: none;
  }
}
/* .container-index{
}
.container-product{
}
.container-contact{
} */
